<hr>
<div class="card">
    <div class="flex flex-wrap align-items-center justify-content-center card-container">
      <app-demo-primeng-progress-bar></app-demo-primeng-progress-bar>
    </div>
</div>
<hr>
<div class="card">
    <div class="flex flex-wrap align-items-center justify-content-center card-container">
      <app-demo-ngflex></app-demo-ngflex>
    </div>
</div>
<hr>
<div class="card">
    <div class="flex flex-wrap align-items-center justify-content-center card-container">
      <app-demo-primeng-button></app-demo-primeng-button>
    </div>
</div>



