<h1>progressBar</h1>
<h2>Indeterminate</h2>
<div class="card">
    <div class="flex flex-wrap align-items-center justify-content-center card-container blue-container">
        <div class="bg-blue-100 w-12rem m-3 border-round">
            <p-progressBar mode="indeterminate" [style]="{'height': '36px'}"></p-progressBar>
        </div>
    </div>
</div>

<h2>Value</h2>
<h3>Service and Component</h3>
<div class="card">
    <div class="card-container blue-container overflow-hidden">
        <div class="flex">
            <div class="flex-initial flex align-items-center justify-content-center bg-blue-500 font-bold text-white m-2 px-5 py-3 border-round">
              <app-primeng-progress-bar title2="First" serviceType="random10"></app-primeng-progress-bar>
            </div>
            <div class="flex-initial flex align-items-center justify-content-center bg-blue-500 font-bold text-white m-2 px-5 py-3 border-round">
              <app-primeng-progress-bar title2="Second" serviceType="random100"></app-primeng-progress-bar>
            </div>
            <div class="flex-initial flex align-items-center justify-content-center bg-blue-500 font-bold text-white m-2 px-5 py-3 border-round">
              <app-primeng-progress-bar title2="Third" serviceType="bigNumber"></app-primeng-progress-bar>
            </div>
        </div>
    </div>
</div>
