<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img
    width="300"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
</div>
<hr>

<p-button label="Submit"></p-button>

<hr>
<div style="text-align:left" class="m-auto">
  <h2>progressBar</h2>
  <h3>Indeterminate</h3>
  <div>6px
    <div class="card">
        <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    </div>
  </div>
  <div>36px
    <div class="card">
        <p-progressBar mode="indeterminate" [style]="{'height': '36px'}"></p-progressBar>
    </div>
  </div>
</div>

<div class="card">
    <div class="flex flex-wrap align-items-center justify-content-center card-container blue-container">
        <div class="bg-blue-100 w-12rem m-3 border-round">
            <div class="mt-5 border-round-bottom bg-blue-500 text-white font-bold p-3 flex align-items-center justify-content-center">mt-5</div>
        </div>
        <div class="bg-blue-100 w-12rem m-3 border-round">
            <div class="mr-8 border-round-left bg-blue-500 text-white font-bold p-3 flex align-items-center justify-content-center">mr-8</div>
        </div>
        <div class="bg-blue-100 w-12rem m-3 border-round">
            <div class="mb-3 border-round-top bg-blue-500 text-white font-bold p-3 flex align-items-center justify-content-center">mb-3</div>
        </div>
        <div class="bg-blue-100 w-12rem m-3 border-round">
            <div class="ml-6 border-round-right bg-blue-500 text-white font-bold p-3 flex align-items-center justify-content-center">ml-6</div>
        </div>
    </div>
</div>