<div class="card">
    {{title1}}
    <div class="flex flex-wrap align-items-center justify-content-center card-container">
      {{title2}}
        <div class="bg-blue-100 w-12rem m-3 border-round">
            {{title3}} <p-progressBar [value]="msg.value"></p-progressBar>
        </div>
        <div class="w-12rem align-items-center justify-content-center">
          <div class="mx-3 bg-blue-700 border-round font-bold p-3 flex align-items-center justify-content-center">
            {{msg.value}} % &nbsp;&nbsp;&nbsp; {{ msg.info }}&nbsp;&nbsp;&nbsp; {{ msg.counter }}
          </div>
            
        </div>          
    </div>
</div>